<div class="jumbotron text-center" *ngIf="isLoggedIn">
  <div class="container">
    <h2>{{user_displayName}}</h2>
    <h5>{{user_email}}</h5>
  </div>
</div>
<div class="container">
  <h4>My Cerebras</h4>
  <h6>List of this specific users Cerebras goes here</h6>
</div>
<br>
<div class="container">
  <h4>My Favorites</h4>
  <h6>List of this specific users favories goes here</h6>
</div>
<br>
<div class="container">
  <h4>My Trophies</h4>
  <h6>List of this specific users trophies goes here</h6>
</div>


