img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#individualCerebra {
    display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;
	background-color: #9A0CE8;
	color: white;
    
	padding-left: 20px;
	padding-right: 20px;
	border-color: white;
	text-align: center;
    margin: 5px;
    width: 350px;
    height: 150px;
}

#individualCerebra h4{
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
}

#individualCerebra h5{
    color: white;
}

#individualCerebra a:hover{
    text-decoration: none;
}

#containCerebraList {
    padding: 20px;
}

#likeButton {
    cursor: pointer;
}

.col-md-2 h6{
	white-space: nowrap;
}

a h4{
	white-space: nowrap;
}