<div class="cerebrasDiv">
  <div>
    <form class="well">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search Cerebras" [(ngModel)]="search" name="search" (keyup)="searchCerebras()">	
			</div>						
		</form>
  </div>
  <div id="individualCerebra" *ngFor='let cerebra of cerebras'>
     <a [routerLink]="['/cerebra/'+cerebra.$key]">{{cerebra.cerebraName}}</a>
     <h5>Creator: {{ cerebra.cerebraCreator }}</h5>
     <br>
     <div class="row">
      <div class="col-md-2"><h6 class="glyphicon glyphicon-tag"> {{ cerebra.cerebraTags }}</h6></div>
      <div class="col-md-8"></div>
      <div class="col-md-2"><h6 class="glyphicon glyphicon-thumbs-up"> {{ cerebra.cerebraLikes }}</h6></div>
    </div>
     
     
  </div>
</div>

