<h2 class="page-header">Edit Cerebra</h2>
<form (submit)="onEditSubmit()">
  <div class="form-group">
    <label>Cerebra Creator: </label>
    <input class="form-control" type="text" [(ngModel)]="cerebraCreator" name="cerebraCreator" required>
  </div>
  <div class="form-group">
    <label>Cerebra Name: </label>
    <input class="form-control" type="text" [(ngModel)]="cerebraName" name="cerebraName" required>
  </div>
  <div class="form-group">
    <label>Cerebra Description: </label>
    <input class="form-control" type="text" [(ngModel)]="cerebraDescription"name="cerebraDescription" required>
  </div>
  <div class="form-group">
    <label>Cerebra Tasks: </label>
    
    <input class="form-control" type="text" [(ngModel)]="cerebraTasks" name="cerebraTasks" required>
  </div>
  <div class="form-group">
    <label>Cerebra Tags: </label>
    <input class="form-control" type="text"[(ngModel)]="cerebraTags" name="cerebraTags" required>
  </div>
  
  <input type="submit" value="Submit" class="btn btn-success">
</form>

<br>




