<div class="form-style-10">
<h1>Add Cerebra<span></span></h1>
<form (submit)="onAddSubmit()">
    <div class="section"><span>1</span>Cerebra Name</div>
    <div class="inner-wrap">
        <label>Cerebra Name <input type="text" [(ngModel)]="cerebraName" name="cerebraName" required></label>
        <label>Description <input type="text" [(ngModel)]="cerebraDescription"name="cerebraDescription" required></label>
        
    </div>

    <div class="section"><span>2</span>Tasks</div>
    <div class="inner-wrap">
        <label>Tasks <div *ngFor="let task of cerebraTasks;let index = index">
        <input name="task{{index}}" [(ngModel)]="cerebraTasks[index].name" type="text">
      <br>
	  </div>
    <button id="addTaskButton" type="button" (click)="addTask()"><span class="glyphicon glyphicon-plus"></span> Add Task</button>
    </label>
        
    </div>

    <div class="section"><span>3</span>Tags</div>
        <div class="inner-wrap">
        <label>Tags <input class="form-control" type="text" [(ngModel)]="cerebraTags" name="cerebraTags" ></label>
    </div>
     <div>
    <h4>Cerebra Creator: {{cerebraCreator}}</h4>
  </div>
    <div class="button-section">
     <input type="submit" value="Submit" class="btn btn-success">
    </div>
</form>
</div>




