<div class="form-style-10">
<h1>Add Cerebra</h1>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Cerebra Name: </label>
    <input class="form-control" type="text" [(ngModel)]="cerebraName" name="cerebraName">
  </div>
  <div class="form-group">
    <label>Cerebra Description: </label>
    <input class="form-control" type="text" [(ngModel)]="cerebraDescription"name="cerebraDescription" >
  </div>
  <div class="form-group">
    <label>Cerebra Tasks: </label>
<!--
	  <div>
	  	<input class="tasks" type="text" ng-repeat="task in taskArray" [(ngModel)]="cerebraTasks" name="cerebraTasks" >
	  </div>
-->
	  <div *ngFor="let task of cerebraTasks;let index = index">
		  <input name="task{{index}}" [(ngModel)]="cerebraTasks[index].name" type="text">
	  </div>
	  <button type="button" (click)="addTask()">Add Task</button>
  </div>
  <div class="form-group">
    <label>Cerebra Tags: </label>
    <input class="form-control" type="text" [(ngModel)]="cerebraTags" name="cerebraTags" >
  </div>
  <div>
    <h4>Cerebra Creator: {{cerebraCreator}}</h4>
  </div>
  <br>
  <input type="submit" value="Submit" class="btn btn-success">
  <br>
</form>
<br>




