<div class="form-style-10">
<h1>Add Cerebra</h1>
<form (submit)="onAddSubmit()">
    <div class="section"><span>1</span>Cerebra Name</div>
    <div class="inner-wrap">
        <label>Cerebra Name <input type="text" [(ngModel)]="cerebraName" name="cerebraName" required></label>
        <label>Description <input  type="text" [(ngModel)]="cerebraDescription" name="cerebraDescription" required></label>
    </div>

    <div class="section"><span>2</span>Tasks</div>
    <div class="inner-wrap">
        <label>Tasks <input class="form-control" type="text" [(ngModel)]="cerebraTasks" name="cerebraTasks" required></label>
        <button id="addTaskButton" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Task</button>
    </div>

    <div class="section"><span>3</span>Tags</div>
        <div class="inner-wrap">
        <label>Tags <input class="form-control" type="text" [(ngModel)]="cerebraTags" name="cerebraTags" required></label>
    </div>

    <div>
    <h4>Creator: {{cerebraCreator}}</h4>
  </div>

    <div class="button-section">
     <input type="submit" value="Add Cerebra" class="btn btn-success">
    </div>
</form>
</div>




